.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  /* Make sure it sits above other items on the page */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWindow {
  background: #EAF0FF;
  padding: 40px;
  width: 85%;
  height: 85%;
  /* Optional, for responsive design */
  z-index: 1001;
  /* Above the overlay */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.modalBody {
  padding-top: 20px;
}

.closeButton {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
}

.title {
  display: flex;
  font-size: 28px;
  font-weight: 500;
}

.icons {
  width: 28px;
  height: 28px;
  margin-right: 40px;
}