.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  /* Make sure it sits above other items on the page */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWindow {
  background: #eaf0ff;
  padding: 40px;
  width: 50%;
  height: 20%;
  /* Optional, for responsive design */
  z-index: 1001;
  /* Above the overlay */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  border-bottom: 5px #6791ff solid;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.modalBody {
  padding-top: 20px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  margin: auto 0;
}

.container {
  margin-top: 5vh;
}

.closeButton {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
}

.title {
  display: flex;
  font-size: 28px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .container {
    margin-top: 2vh;
  }
}
