@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  background-color: #EAF0FF;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

a {
  text-decoration: none;
  color: #6791FF;
}